.content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  justify-content: space-between;
}

.band {
  width: 30%;
}
.event {
  width: 40%;
}
.favourites {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .band,.event,.favourites {
    width: 100%;
    padding: 20px;
  }
}